@model FlightMVC.Models.PassengerDetails

@{
    ViewData["Title"] = "Passenger Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Passenger Details for @Model.Name</h1>

<div>
    <h4>Passenger Details</h4>
    @Html.DisplayFor(model => model)
    @*<hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>*@
</div>
<div>
    <a asp-action="Edit" asp-route-id=@Model.Name>Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
